<!DOCTYPE html>
<html>
<head>
	<title>JAVASCRIPT OVERLAY MENU</title>


<!--	<link rel="stylesheet" href="style.css">-->
<%= stylesheet_link_tag "style" %>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

	</head>


	<body>
		<h1>Welcome</h1>
		<div class="button">
		<a href="#" id="btn-menu" class="btn-open"><i id="icon"  class="fas fa-bars" ></i></a>

		</div>

		<div class="overlay">
		<div class="nav-container">
			<div class="nav-col">
			<h2>
				About
			</h2>
				<ul>
				<li><a href="#">COMPANY</a></li>
				<li><a href="#">OFFICES</a></li>
				<li><a href="#">CEO</a></li></ul>
			</div>
			<div class="nav-col">
			<h2>
				Services
			</h2>
				<ul>
				<li><a href="#">DESIGN</a></li>
				<li><a href="#">DEVELOPMENT</a></li>
				<li><a href="#">SUPPORT</a></li></ul>
			</div>
			<div class="nav-col">
			<h2>
				Work
			</h2>
				<ul>
				<li><a href="#">HTML5</a></li>
				<li><a href="#">CSS3</a></li>
				<li><a href="#">Javascript</a></li></ul>
			</div>
		</div>
		</div>


<%= javascript_include_tag "script" %>

<!--	<script>
		console.log('Loaded');
		var btnmenu=document.getElementsByClassName("button")[0];
		var icon=document.getElementById("icon");
		console.log(icon);
		btnmenu.addEventListener("click",toggleMenu);
		function toggleMenu(event)
		{
			var divoverlay=document.getElementsByClassName("overlay")[0];
		var speed=10;
			if(icon.className=="fas fa-bars"){
				icon.className="fas fa-times";
				fadeIn(divoverlay,speed);
			}
			else
				{
				icon.className="fas fa-bars";
					fadeOut(divoverlay,speed);
				}


		}
		function fadeIn(elem,speed)
		{
			console.log('Fade in')
			var c=setInterval(function(){
				elem.style.opacity=Number(elem.style.opacity)+0.02;
				if(elem.style.opacity==1)
					clearInterval(c);
			},speed);
		}
		function fadeOut(elem,speed)
		{
			console.log('Fade Out')
			var c=setInterval(function(){
				elem.style.opacity=Number(elem.style.opacity)-0.02;
				if(elem.style.opacity<=0)
					{
						elem.style.opacity=0;
				   clearInterval(c);
					}
			},speed);
		}

	</script>-->


	</body>
</html>
